In [5]:
import pandas as pd
import numpy as np

In [8]:
# 两种数据结构 
"""
1、serise
2、dataframe
"""

'\n1、serise\n2、dataframe\n'

In [17]:
# 创建serise的三种方法
"""
1.列表
2.列表加索引列表
3.python字典
"""

'\n1.列表\n2.列表加索引列表\n3.python字典\n'

In [14]:
s1  = pd.Series(["c","p","y",3,3,4])  # 直接上列表
s1

0    c
1    p
2    y
3    3
4    3
5    4
dtype: object

In [33]:
s2 = pd.Series(["serise","dataframe", "jupyter"], index=["a","b","b"])  # 列表加列表索引
s2['b']

b    dataframe
b      jupyter
dtype: object

In [35]:
dic = {"name":"cpy", "age": 19, "gender":"man"}
s3 = pd.Series(dic)  # 直接上python字典
s3["name"]

'cpy'

In [63]:
df = pd.read_csv('seattle-weather.csv')
df.head()
df.loc[:,"temp_max"] = df["temp_max"]

In [82]:
# dataframe的查询
s4 = df.loc[[1,2,3], ["temp_max","temp_min","wind"]]
s4

   temp_max  temp_min  wind
1      10.6       2.8   4.5
2      11.7       7.2   2.3
3      12.2       5.6   4.7

In [83]:
# 条件查询
df.loc[:, "precipitation":"wind"].astype(float)
good = df.loc[(df["temp_max"]<15) & (df["temp_min"] > 10 ),  : ]
good

            date  precipitation  temp_max  temp_min  wind weather
140   2012-05-20            6.4      14.4      11.7   1.3    rain
173   2012-06-22           15.7      13.9      11.7   1.9    rain
482   2013-04-27            0.0      13.9      10.6   5.9     sun
635   2013-09-27            1.0      13.9      10.6   4.3    rain
637   2013-09-29           16.8      14.4      11.1   7.1    rain
649   2013-10-11            9.1      13.9      10.6   1.0    rain
669   2013-10-31            0.3      14.4      10.6   2.2    rain
682   2013-11-13            0.0      13.9      10.6   3.8     sun
1037  2014-11-03           10.9      13.9      11.1   4.8    rain
1038  2014-11-04            4.1      14.4      10.6   3.3    rain
1061  2014-11-27            3.3      14.4      11.7   6.6    rain
1119  2015-01-24            0.5      14.4      11.1   3.3    rain
1396  2015-10-28            3.3      13.9      11.1   2.8    rain

In [84]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [85]:
df.loc[:, "wencha"] = df["temp_max"]  - df["temp_min"]
df.head()

         date  precipitation  temp_max  temp_min  wind  weather  wencha
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle     7.8
1  2012-01-02           10.9      10.6       2.8   4.5     rain     7.8
2  2012-01-03            0.8      11.7       7.2   2.3     rain     4.5
3  2012-01-04           20.3      12.2       5.6   4.7     rain     6.6
4  2012-01-05            1.3       8.9       2.8   6.1     rain     6.1

In [88]:
def type_temp(x):
    if x["temp_max"] > 20:
        return "高温"
    if x["temp_min"] < 0:
        return "低温"
    return "正常"

df.loc[:, "temp_type"]  = df.apply(type_temp, axis=1)

In [94]:
df["temp_type"].value_counts()

temp_type
正常    928
高温    461
低温     72
Name: count, dtype: int64

In [97]:
# assign 方法, 可以同时添加多个列


# 添加华氏度列
df = df.assign(
    h_min = lambda x: x["temp_min"] * 9/5+32,
    h_max = lambda x: x["temp_max"] * 9/5+32
    
)

df.head()

,date,precipitation,temp_max,temp_min,wind,weather,wencha,temp_type,h_min,h_max
0,2012-01-01,0.0,12.8,5.0,4.7,drizzle,7.8,正常,41.00,55.04
1,2012-01-02,10.9,10.6,2.8,4.5,rain,7.8,正常,37.04,51.08
2,2012-01-03,0.8,11.7,7.2,2.3,rain,4.5,正常,44.96,53.06
3,2012-01-04,20.3,12.2,5.6,4.7,rain,6.6,正常,42.08,53.96
4,2012-01-05,1.3,8.9,2.8,6.1,rain,6.1,正常,37.04,48.02

In [98]:
df.describe()

,precipitation,temp_max,temp_min,wind,wencha,h_min,h_max
count,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000,1461.000000
mean,3.029432,16.439083,8.234771,3.241136,8.204312,46.822587,61.590349
std,6.680194,7.349758,5.023004,1.437825,3.820020,9.041408,13.229565
min,0.000000,-1.600000,-7.100000,0.400000,0.600000,19.220000,29.120000
25%,0.000000,10.600000,4.400000,2.200000,5.500000,39.920000,51.080000
50%,0.000000,15.600000,8.300000,3.000000,7.700000,46.940000,60.080000
75%,2.800000,22.200000,12.200000,4.000000,10.600000,53.960000,71.960000
max,55.900000,35.600000,18.300000,9.500000,18.900000,64.940000,96.080000

In [100]:
df["temp_max"].unique()

array([12.8, 10.6, 11.7, 12.2,  8.9,  4.4,  7.2, 10. ,  9.4,  6.1,  5. ,
        1.1,  1.7,  3.3,  0. , -1.1,  8.3,  6.7, 14.4, 15.6, 13.9, 16.1,
       11.1,  7.8,  5.6, 15. , 13.3, 16.7, 21.1, 20. , 17.8, 23.3, 21.7,
       23.9, 18.3, 24.4, 25.6, 26.7, 19.4, 17.2, 22.2, 18.9, 22.8, 20.6,
       25. , 28.3, 27.8, 26.1, 27.2, 33.9, 30.6, 28.9, 31.1, 34.4, 32.8,
       32.2,  3.9,  2.8,  2.2, 30. , 31.7, -0.5, -1.6, 29.4, 35.6, 33.3,
       35. ])

In [104]:
df.corr()

ValueError: could not convert string to float: '2012-01-01'

In [110]:
df1 = pd.read_csv("seattle-weather.csv", index_col=0)
df1.head()

            precipitation  temp_max  temp_min  wind  weather
date
2012-01-01            0.0      12.8       5.0   4.7  drizzle
2012-01-02           10.9      10.6       2.8   4.5     rain
2012-01-03            0.8      11.7       7.2   2.3     rain
2012-01-04           20.3      12.2       5.6   4.7     rain
2012-01-05            1.3       8.9       2.8   6.1     rain