In [2]:
import pandas as pd
import numpy as np

In [11]:
array =  pd.DataFrame(np.arange(12).reshape(3,4),columns=['a','b','c','d'])
array

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [16]:
array.mean(axis=0)  # 以行为轴的方向

a    4.0
b    5.0
c    6.0
d    7.0
dtype: float64