In [28]:
import pandas as pd
import os
# 找到文件列表
list_name = [] 
dir_path = './data/splitTask/splits/'
for name in os.listdir(dir_path):
    list_name.append(name)
list_name

['tasks_0_wxm.xlsx',
 'tasks_1_jdq.xlsx',
 'tasks_2_wyn.xlsx',
 'tasks_3_yc.xlsx',
 'tasks_4_xr.xlsx']

In [29]:
df_list = []
# 分别读取各个小文件
for name in list_name:
    fpath = dir_path + name
    excel_split = pd.read_excel(fpath)
    # 提取文件来源
    username = name.split('_')[-1].split('.')[0]
    # 给每个df添加一列
    excel_split["username"] =  username
    df_list.append(excel_split)
df_list

[     userId  age gender  occupation zip-code username
 0         1   24      M  technician    85711      wxm
 1         2   53      F       other    94043      wxm
 2         3   23      M      writer    32067      wxm
 3         4   24      M  technician    43537      wxm
 4         5   33      F       other    15213      wxm
 ..      ...  ...    ...         ...      ...      ...
 184     185   53      F   librarian    97403      wxm
 185     186   39      F   executive    00000      wxm
 186     187   26      M    educator    16801      wxm
 187     188   42      M     student    29440      wxm
 188     189   32      M      artist    95014      wxm

 [189 rows x 6 columns],
      userId  age gender     occupation zip-code username
 0       190   30      M  administrator    95938      jdq
 1       191   33      M  administrator    95161      jdq
 2       192   42      M       educator    90840      jdq
 3       193   29      M        student    49931      jdq
 4       194   38      M  administrator    02154      jdq
 ..      ...  ...    ...            ...      ...      ...
 184     374   36      M      executive    78746      jdq
 185     375   17      M  entertainment    37777      jdq
 186     376   28      F          other    10010      jdq
 187     377   22      M        student    18015      jdq
 188     378   35      M        student    02859      jdq

 [189 rows x 6 columns],
      userId  age gender     occupation zip-code username
 0       379   44      M     programmer    98117      wyn
 1       380   32      M       engineer    55117      wyn
 2       381   33      M         artist    94608      wyn
 3       382   45      M       engineer    01824      wyn
 4       383   42      M  administrator    75204      wyn
 ..      ...  ...    ...            ...      ...      ...
 184     563   39      F      librarian    32707      wyn
 185     564   65      M        retired    94591      wyn
 186     565   40      M        student    55422      wyn
 187     566   20      M        student    14627      wyn
 188     567   24      M  entertainment    10003      wyn

 [189 rows x 6 columns],
      userId  age gender occupation zip-code username
 0       568   39      M   educator    01915       yc
 1       569   34      M   educator    91903       yc
 2       570   26      M   educator    14627       yc
 3       571   34      M     artist    01945       yc
 4       572   51      M   educator    20003       yc
 ..      ...  ...    ...        ...      ...      ...
 184     752   60      M    retired    21201       yc
 185     753   56      M   salesman    91206       yc
 186     754   59      F  librarian    62901       yc
 187     755   44      F   educator    97007       yc
 188     756   30      F       none    90247       yc

 [189 rows x 6 columns],
      userId  age gender     occupation zip-code username
 0       757   26      M        student    55104       xr
 1       758   27      M        student    53706       xr
 2       759   20      F        student    68503       xr
 3       760   35      F          other    14211       xr
 4       761   17      M        student    97302       xr
 ..      ...  ...    ...            ...      ...      ...
 182     939   26      F        student    33319       xr
 183     940   32      M  administrator    02215       xr
 184     941   20      M        student    97229       xr
 185     942   48      F      librarian    78209       xr
 186     943   22      M        student    77841       xr

 [187 rows x 6 columns]]

In [30]:
df_merge = pd.concat(df_list)  # 使用concat合并
df_merge.shape
df_merge["username"].value_counts()
# 保存excel 
df_merge.to_excel("./data/splitTask/merge.xlsx",index=False)